<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="wxw.controller" />

	<!-- Spring MVC JSON配置 <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"> 
		<property name="messageConverters"> <list> <bean id="fastJsonHttpMessageConverter" 
		class="wxw.util.FastJsonHttpMessageConverter"> <property name="supportedMediaTypes"> 
		<list> -->
	<!-- 避免IE出现下载JSON文件的情况 <value>text/html;charset=UTF-8</value> </list> </property> 
		</bean> </list> </property> </bean> -->

	<!-- 开启MVC注解扫描 -->
	<mvc:annotation-driven />

	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/" p:suffix=".jsp" />
		
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login/toLogin.do"/>
			<mvc:exclude-mapping path="/login/cookieLogin.do"/>
			<mvc:exclude-mapping path="/login/sessionLogin.do"/>
			<mvc:exclude-mapping path="/login/createImage.do"/>
			<bean class="wxw.interceptor.CheckLoginInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login/toLogin.do"/>
			<mvc:exclude-mapping path="/login/cookieLogin.do"/>
			<mvc:exclude-mapping path="/login/sessionLogin.do"/>
			<mvc:exclude-mapping path="/login/createImage.do"/>
			<bean class="wxw.interceptor.CurrentModuleInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login/*"/>
			<mvc:exclude-mapping path="/user/*"/>
			<bean class="wxw.interceptor.CheckModuleInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 处理异常 -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">main/error</prop>
			</props>
		</property>
	</bean>
	
	<!-- AOP必配:开启扫描，扫描aspect包组件 -->
	<context:component-scan base-package="wxw.aspect" />
	
	<!-- AOP(1):注解式 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- AOP(2):XML配置式 声明切面组件
	<bean id="controllerLogger" class="wxw.aspect.ControllerLogger">
	</bean>
	<aop:config>
		<aop:aspect ref="controllerLogger">
			<aop:around method="clogger" pointcut="within(wxw.controller..*)"/>
		</aop:aspect>
	</aop:config> -->

</beans>
